<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Algorithm Artbook</title>
    <link href="/assets/styles/reset.css" rel="stylesheet" type="text/css" />
    <link href="/assets/styles/style.css" rel="stylesheet" type="text/css" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📘</text></svg>"
    />
  </head>
  <body>
    <header>
      <h1>ALGORITHM ARTBOOK</h1>
      <a
        href="https://github.com/feyzanaydemir/algorithm-artbook"
        target="_blank"
        rel="noopener noreferrer"
      >
        MADE WITH ♥ BY FEYZAN
        <img
          class="github-mark"
          src="./assets/github-mark.png"
          alt="GitHub logo."
        />
      </a>
    </header>
    <div class="gallery">
      <% for (const elem of list) {%>
      <div>
        <img src="data:image/png;base64,<%= elem.file %>"></img>
        <span><%= elem.name %></span>
      </div>
      <% } %>
    </div>
  </body>
</html>
